<div class="row">
	<div class="col-md-6">
		<h2>Add New Contact</h2>

		<% if (typeof errors != 'undefined') { %>
		<ul class="list-group my-2">
			<% errors.forEach(e => { %>
			<li class="list-group-item list-group-item-danger"><%= e.msg %></li>
			<% }) %>
		</ul>
		<% } %>

		<form class="row g-3" method="post" action="/contacts">
			<div class="col-md-6">
				<label for="input-name" class="form-label">Name</label>
				<input type="text" class="form-control" id="input-name" name="name" placeholder="John Doe" required />
			</div>
			<div class="col-md-6">
				<label for="input-phone" class="form-label">Phone</label>
				<input type="tel" class="form-control" id="input-phone" name="phone" placeholder="0812-3456-7890" required />
			</div>
			<div class="col-12">
				<label for="input-email" class="form-label">Email</label>
				<input type="email" class="form-control" id="input-email" name="email" placeholder="example@mail.com" required />
			</div>
			<div class="col-12">
				<button type="submit" class="btn btn-primary">Save</button>
			</div>
		</form>
	</div>
</div>
